@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

* {
    font-family: 'Inter', sans-serif;
    background-color: #0D2C32;
    color: #DACAD4;
}


/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    z-index: 999;
}

nav img {
    height: 125px;
    width: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding-top: 75px;
    gap: 25px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    font-weight: 100;
}

.nav-links a {
    text-decoration: none;
}

.nav-menu button {
    padding: 8px;
    margin-top: -5px;
    border: 1px solid #DACAD4;
    border-radius: 2px;
    cursor: pointer;
}

.nav-menu button:hover {
    background-color: #DACAD4;
    color: #0D2C32;
}


/* HERO */
.hero {
    width: 100%;
    height: 81vh;
    z-index: 1;
    position: relative;
}

.main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sunshine {
    position: absolute;
    top: 90%;
    left: 58%;
    background-color: transparent;
    width: 40%;
}


/* ABOUT */
.about img {
    width: 50%;
    padding: 10px;
}

.about {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    width: 55%;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
    color: #B7AEBD;
}

.line {
    margin-top: -2px;
    margin-bottom: -2px;
    color: #DACAD4;
    font-weight: 100;
}


/* VENUE */
.venue img {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.venue {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.map {
    margin-left: 130px;
}

.venue-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.venue p {
    width: 60%;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
    color: #B7AEBD;
}


/* PICTURES */
.pics img {
    width: 300px;
    height: 425px;
    object-fit: cover;
    border: 2px solid #B7AEBD;
    border-radius: 2%;
}

.pics {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 175px;
    padding-bottom: 75px;
}